<!DOCTYPE html>
<html lang="it">
<head>
  <%- include('../partials/head.ejs') %>
  <style>
    body{
      padding: 0px;
    }
  </style>
  <title>Moovy</title>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>

    <div class="container mx-auto">
        <br>
        <div class="container">
            <h2>Veicoli ritirati</h2>
            <p>Ecco l'elenco di tutti i veicoli attualmente ritirati</p>
            <div>
              <%

              if((!veicoli) || (veicoli.length==0)) { 
                
                  __append('<div class="section col-12 text-center">Non è stato trovato alcun veicolo!</div>');
                 
              } 
              
  
              else{
         
                  veicoli.forEach( (veicolo) => {  
                     
                          __append('<div class="section">')
                          __append(include("../_partials/elencoveicolia", veicolo));
                          __append('</div>')
                     
                  });
  
              } 
                              
          %> 
                  
       
    </div>            
          
          </div>
          
       
    </div> 
<%- include('../partials/footer.ejs') %>
</body>
</html>