<a href="/Riepilogo/Pagamento" >
    
    <div class="col-6 ">
        <div class="form-outline">
            <label class="form-label ">Inserisci metodo pagamento</label>
            <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Seleziona carta</option>
                  <option ><%= carta.numero_carta%></option>                  
                </select>
              </div>
            </div>                  
      </div>             

    </div>

</a>