<a href="/veicoliRitirati">
<table class="table table-bordered table-bordered-success table-hover">
    <thead>
      <tr>
        <th>ID Veicolo</th>
        <th>Tipo Veicolo</th>
        <th>ID Parcheggio</th>
        
      </tr>
    </thead>
    <tbody>
         <!--riga cliccabile ??-->
      <tr ></tr>
        <td>"<%= veicolo.id_veicoli%></td> 
        <td><%= veicolo.tipo%></td>
        <td><%= veicolo.ref_parcheggio%></td>
       
      </tr>      
    </tbody>
  </table>
</a>