<a href="/utente/cliente/AreaPersonaleCliente/ElencoPrenotazioniE/<%= id_prenotazione %>">
    <table class="table table-bordered table-bordered-success table-hover">
        <thead>
          <tr>
            <th>ID Prenotazione</th>
            <th>Luogo ritiro</th>
            <th>Stato</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td ><%= id_prenotazione%></td> 
            <td><%= luogo_ritiro%></td>
            <td><%= stato_autista%></td>
          </tr>
          
        </tbody>
      </table>

</a>