<a href="">
    <table class="table table-bordered table-bordered-success table-hover">
        <thead>
          <tr>
            <th>ID Prenotazione</th>
            <th>Luogo ritiro</th>
            <th>Stato</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td ><%= prenotazione.id_prenotazione%></td> 
            <td><%= prenotazione.ref_parcheggio%></td>
            <td><%= prenotazione.stato_autista%></td>
          </tr>
          
        </tbody>
      </table>

</a>