<a href="/AreaPersonaleCliente/ElencoPrenotazioni<%= id %>" >

    <table class="table table-bordered table-bordered-success table-hover">
        <thead>
          <tr>
            <th>ID Veicolo</th>
            <th>Tipo Veicolo</th>
            <th>ID Parcheggio</th>
          </tr>
        </thead>
        <tbody>
          <tr ></tr>
            <td><%= veicolo.id_veicolo %></td> 
            <td><%= veicolo.tipo_veicolo %></td>
            <td><%= veicolo.ref_parcheggio %></td>
          </tr>
        </tbody>
      </table>
</a>

