<div class="col-md-4 mb-4 col-form-label mx-auto">
    <div class="form-outline">
        <label for="modello_auto">Categoria</label>
        <select id="modello_auto" name="modello_moto" class="form-control">
          <option value="Ciclomotore - 50cc">Ciclomotore - 50cc</option>
          <option value="‘Scooter - 125cc">‘Scooter - 125cc</option>
          <option value="Turistica - 600cc">Turistica - 600cc</option>
          <option value="Adventure - 1200cc">Adventure - 1200cc</option>
        </select>
    </div>
</div>