<div class="col-md-4 mb-4 col-form-label mx-auto">
    <div class="form-outline">
        <label for="modello_auto">Categoria</label>
        <select id="modello_auto" name="modello_auto" class="form-control">
          <option value="Suv">Suv</option>
          <option value="Utilitaria">Utilitaria</option>
          <option value="Berlina">Berlina</option>
        </select>
    </div>
</div>