<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='RicercaVeicolo.css'>

    <link rel="icon" href="public/images/logo1.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Moovy</title>
</head>
<body>
    <img class="img-fluid" src="public/images/banner2.png" width="100%">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(3, 78, 13, 0.795);">
        <a class="navbar-brand" href="#"><img class="img-fluid" src="public/images/logo2+.png" width="50px"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Veicoli</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Area Personale</a>
                </li>  
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accedi</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Login</a>
                        <a class="dropdown-item" href="#">Recupera Password</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Registrati</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--tabella veicoli-->
    <div class="container-fluid p-3" > <!--style="background-color: rgb(125, 187, 153);"-->
            <%
                if(!veicoli || veicoli.length==0) {

                    __append('<div class="section col-12 text-center" >Nessun veicolo corrisponde ai filtri selezionati</div>')
                } 
                else{

                    let idPrenotazione = ""; 
                    
                    __append('<table class="table table-hover">')
                        __append('<tbody>')

                    veicoli.forEach( (veicolo) => {   
                           
                            __append('<tr>')
                            __append('<td><a href="#"><%= veicolo.nome_veicolo %></a></td>')
                        if(veicolo.tipo_veicolo == 'Automobile'){
                            __append('<td><a href="#"><%= veicolo.modello_auto %></a></td>')
                        }
                        else if(veicolo.tipo_veicolo == 'Moto'){
                            __append('<td><a href="#"><%= veicolo.modello_moto %></a></td>')
                        }
                            __append('<td><a href="#"><%= veicolo.tariffa %></a></td>')
                            __append('</tr>')
                        __append('</table>')
                        idPrenotazione = prenotazione.prenotazioneId;                            
                    });
                        __append('</tbody>')
                    __append('</table>')                                     
                %>
        <ul class="row" style="list-style-type: none;">
            <li class="col-md pb-4 text-center">
                <img src="public/images/C3.jpg" alt="c3" class="img-thumbnail border-success" height="156px">
            </li>                                               
            <li class="col-md pb-4 text-center">
                <img src="public/images/Moto.jpg" class="img-thumbnail border-success" height="156px">
            </li>
            <li class="col-md pb-4 text-center">
                <img src="public/images/Bici.jpg" class="img-thumbnail border-success" height="156px">
            </li>
            <li class="col-md pb-4 text-center">
                <img src="public/images/Monopattino.jpg" class="img-thumbnail border-success" height="156px">
            </li>
            <li class="col-md pb-4 text-center">
                <img src="public/images/Monopattino.jpg" class="img-thumbnail border-success" height="156px">
            </li>
        </ul>
    </div>
</body>
</html>