<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('../partials/head.ejs') %>

        <title>Moovy</title>

      </head>
    
      <body>
        <%- include('../partials/navbarAmm.ejs') %>
    <!--Navbar-->

    <form action="/utente/amministratore/AreaPersonaleAmministratore/datiAccounts" method="POST" >
        <div class="container my-5 text-center" style="max-width: 580px;">
            <legend style="text-align:center; font-size:150%;">Form Filtraggio Account</legend>
        <div class=" mb-3 my-3" style="max-width: 580px;">
            <label for="ruolo" class="form-label">Ruolo</label>
            <input type="text" class="form-control form-control-md" id="ruolo" name="ruolo"  placeholder="Cliente/Addetto/Autista">
        </div>
        <div class="container my-5 text-center">
            <button type="submit" class="btn btn-success"style="">Filtra</button>
        </div>
      </form>
<!--footer-->   
<footer class="text-center text-lg-start bg-light text-muted">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <p class="">Contattaci: Tel + 01 234 567 88</p>
      © 2021 Copyright AMIL
    </div>
  </footer>
</body>
</html>
