<!DOCTYPE html>
<html lang="it">
<head>
  <%- include('../partials/head.ejs') %>
  <style>
    body{
      padding: 0px;
    }
  </style>
  <title>Moovy</title>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>

     <!--Form registrazione-->
    <div class="container mx-auto">
       <br>
        <div class="row">
            <div class="card card-body" style="width: 516px;">
                <br>                
                <h1>Registrazione impiegati</h1>
                <br>
            <form>
                <br>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <label class="form-label" for="firstName">Nome</label>
                      <input type="text" id="nome" class="form-control form-control-md" placeholder="Nome" />                   
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <label class="form-label" for="lastName">Cognome</label>
                      <input type="text" id="cognome" class="form-control form-control-md" placeholder="Cognome" />
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 ">
  
                    <div class="form-outline">
                      <label class="form-label" for="dataNascita">Data di nascita</label>
                      <input type="date" id="datadinascita" class="form-control form-control-md" />
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 ">
  
                    <div class="form-outline">
                      <label class="form-label" for="emailAddress">Email</label>
                      <input type="email" id="email" class="form-control form-control-md" placeholder="Email" />
                    </div>
  
                  </div>
                </div>             
  
  
                <div class="row">                  
                  <div class="col-md-6 mb-4 ">      
                    <div class="form-outline">
                      <label class="form-label" for="phoneNumber">Numero di telefono</label>
                      <input type="tel" id="numerodicellulare" class="form-control form-control-md" placeholder="Numero di telefono" />                          
                    </div>      
                  </div>

                  <div class="col-md-6 mb-4 ">
                    <label class="form-label" for="patente">Tipo patente</label>   
                    <br>   
                    <button class="btn dropdown-toggle mr-4 " type="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Patenti</button>                       

                      <div class="dropdown-menu">
                     <a class="dropdown-item">
 
                     <div class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input" id="am">
                      <label class="custom-control-label" for="checkbox1" >AM</label>
                     </div>
                    </a>
                 <a class="dropdown-item" href="#">
                 <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="a" >
                <label class="custom-control-label"for="checkbox2" >A</label>
                </div>
                </a>
                <a class="dropdown-item" href="#">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="a1">
                    <label class="custom-control-label" for="checkbox3">A1</label>
                 </div>
                 </a>

                 <a class="dropdown-item" href="#">
                  <div class="custom-control custom-checkbox">
                 <input type="checkbox" class="custom-control-input" id="a2" >
                  <label class="custom-control-label" for="checkbox4">A2</label>
                  </div>
                 </a>

                <a class="dropdown-item" href="#">
                 <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="b" >
                 <label class="custom-control-label" for="checkbox4">B</label>
                 </div>
                </a>
                  </div>
                  </div>
                </div>
               

                <div class="row">
                    <div class="col-md-6 mb-4 ">      
                        <div class="form-outline">
                          <label class="form-label" for="dataRilascio">Data di rilascio patente</label>
                          <input type="date" id="datarilasciopatente" class="form-control form-control-md"  />
                        </div>      
                      </div>                    

                  <div class="col-md-6 mb-4 pb-2">      
                    <div class="form-outline">
                      <label class="form-label" for="patente">Codice patente</label>
                      <input type="text" id="codicepatente" class="form-control form-control-md" placeholder="Codice Patente" />                          
                    </div>              
                </div>
                </div>  
  
                <div class="row">
                  <div class="col-md-6 mb-4 ">
                    <div class="form-outline">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Ruolo</label>
                        </div>
                        <select class="custom-select" id="ruolo">
                          <option selected>Seleziona ruolo impiegato</option>
                          <option value="1">Autista</option>
                          <option value="2">Addetto</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 ">
  
                    <div class="form-outline">
                      <label for="pass">Password *</label>
                       <input name="pass" id="password" type="password" class="form-control" title="Almeno 8 caratteri, una lettera maiuscola e un numero" placeholder="Inserisci password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" size="32" maxlength="40" required/>
                      <div class="invalid-feedback">
                        Almeno 8 caratteri di cui uno maiusciolo e un numero
                       </div>
                    <div class="valid-feedback text-warning">
                     Password media
                   </div>
                    
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 ">
  
                    <div class="form-outline">
                      <label for="repass">Reinserisci password *</label>
                      <input name="repass" id="repass" type="password" class="form-control" placeholder="Reinserisci password" size="32" maxlength="40" onchange="checkPassword(this)" required/>
                      <div class="invalid-feedback">
                          Le password devono coincidere
                      </div>
                    </div>    
                  </div>                 
              </div>

  
              </form>
            </div>           
          </div>
          <br>
          <div class="d-flex justify-content-center">
            <button class="btn btn-lg  btn-success  align-content-lg-center" id="submit">Conferma</button>
          </div>
        <br>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>