<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../../public/images/logo1.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Moovy</title>
 </head>
<body>

     <!--Navbar-->
     <%- include('../partials/navbar.ejs') %>


    <form action="/recuperaPass/codice" method="POST">
        <div class="container my-5 text-center" style="max-width: 580px;">

          <legend style="text-align: center; font-size:150%">Codice</legend>
        <div class="container my-5 text-center" style="max-width: 580px;">
        <div class="mb-3">
          <label for="codice" class="form-label">Inserisci codice</label>
          <input type="text" name="codice" class="form-control form-control-md" placeholder="Codice" id="codice" required>
       </div>
        <div style="font-size: small;">
            Inserire il codice inviato alla tua email.
        </div>
        </div>
        <button type="submit"  class="btn btn-success">Conferma</button>
      </form>

<!--footer-->   
<footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <p>Contattaci: Tel + 01 234 567 88</p>
      © 2021 Copyright AMIL
    </div>
  </footer>
</body>
</html>
