<!DOCTYPE html>
<html>
<head> <!--il controllo della data non va bene-->
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/RicercaVeicolo.css">

    <!-- link e script per la mappa mapbox-->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
    <!-- Geocoder -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
    <!-- Promise polyfill script is required -->
    <!-- to use Mapbox GL Geocoder in IE 11. -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <!--script turf for distances-->
    <script src="https://unpkg.com/@turf/turf"></script>

    <!-- Import jQuery -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

    <style>
        #mappa { height: 500px; width: 80%; }
    </style>
    

    <link rel="icon" href="/images/logo1.png">

    <title>Veicoli</title>
</head>
<body>

    <%- include('../partials/navbar.ejs') %>

    <div class="container mx-auto p-3">
        <div class="row">
            <div class="card card-body border-success">
                <form action="/TipoVeicoli/FormA/RisultatiRicerca" method="POST">
                    <input type="text" style="display: none;" id="tipo_veicolo" name="tipo_veicolo" value="<%= tipo_veicolo %>" >
                    <% if (tipo_veicolo  == 'Automobile'){ %>
                        <div class="row">
                            <div class="col-md-4 col-form-label text-right">
                                <!--<p>Autista:</p>-->
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <p>Autista:</p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input type="radio" onclick="salvaAutSi()" class="custom-control-input" id="aut-si" name="autista" value="1">
                                <label class="custom-control-label" for="aut-si">Sì</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" onclick="salvaAutNo()"class="custom-control-input" id="aut-no" name="autista" value="null">
                                <label class="custom-control-label" for="aut-no">No</label>
                              </div>
                        </div>
                    <% } %>
                    <!--se autista è si-->
                    <div class="row">
                        <div style="display: none;" id="geocoder3" class="col-sm-4 mx-auto">
                            <label for="luogoPartenza">Luogo di partenza</label>
                            <!--<input type="text" class="form-control" id="luogoRitiro" name="luogoRitiro">-->
                        </div>
                        <div style="display: none;" id="geocoder4" class="col-sm-4 mx-auto">
                            <label for="luogoArrivo">Luogo di arrivo</label>
                            <!--<input type="text" class="form-control" id="luogoRiconsegna" name="luogoRiconsegna">-->
                        </div>                        
                    </div>
                    <!--fine autista si-->

                    <div class="row">
                        <div id="geocoder1" class="col-sm-4 mx-auto">
                            <label for="luogoRitiro">Luogo di ritiro</label>
                            <!--<input type="text" class="form-control" id="luogoRitiro" name="luogoRitiro">-->
                        </div>
                        <div id="geocoder2" class="col-sm-4 mx-auto">
                            <label for="luogoRiconsegna">Luogo di riconsegna</label>
                            <!--<input type="text" class="form-control" id="luogoRiconsegna" name="luogoRiconsegna">-->
                        </div>                        
                    </div>
                    <br>
                    <div class="text-center">
                        <button id="apriMappa" type="button" class="btn btn-success">Chiudi la mappa</button></button>
                    </div>
                    <br><br>
                    <div id="mappa" class="mx-auto"></div>
                    <br>
                    <div class="row">
                        <div class="col-sm-4 mx-auto">
                            <label for="dataRitiro">Data di ritiro</label>
                            <input type="datetime-local" class="form-control" id="dataRitiro" name="data_ritiro" 
                            onfocus="calcolaDataMin()" required>                            
                        </div>
                        <div class="col-sm-4 mx-auto mt-2">
                            <label for="dataRiconsegna">Data di riconsegna</label>
                            <input type="datetime-local" class="form-control" id="dataRiconsegna" name="data_riconsegna" 
                            onfocus="validateDate()" required>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <% if(tipo_veicolo == 'Automobile'){ %>
                        <div class="col-md-4 mb-4 col-form-label mx-auto">
                            <div class="form-outline">
                                <label for="modello_auto">Categoria</label>
                                <select id="modello_auto" name="modello_auto" class="form-control">
                                  <option value="Suv">Suv</option>
                                  <option value="Utilitaria">Utilitaria</option>
                                  <option value="Berlina">Berlina</option>
                                </select>
                            </div>
                        </div>
                    <% } else if(tipo_veicolo == 'Moto'){ %>
                        <div class="col-md-4 mb-4 col-form-label mx-auto">
                            <div class="form-outline">
                                <label for="modello_auto">Categoria</label>
                                <select id="modello_moto" name="modello_moto" class="form-control">
                                  <option value="Ciclomotore - 50cc">Ciclomotore - 50cc</option>
                                  <option value="Scooter - 125cc">Scooter - 125cc</option>
                                  <option value="Turistica - 600cc">Turistica - 600cc</option>
                                  <option value="Adventure - 1200cc">Adventure - 1200cc</option>
                                </select>
                            </div>
                        </div>
                    <% } %>
                    <br>
                    <div class="mx-auto px-4 text-right">   
                        <button type="submit" id="submit" class="btn btn-success mt-3" onclick="salvaDati()">Conferma</button>    
                    </div>  
                </form>
            </div>
        </div>
           
    </div>

    <%- include('../partials/footer.ejs') %>

    <script>
        function validateDate(){
            var date = $('#dataRitiro').val();

            var data = date.split("-");
            var year = data[0];
            var month = data[1];
            var day = data[2].slice(0, 2);
            var hours = date.slice(11, 13);
            var minutes = date.slice(14, 16);

            if(Number(minutes) < 30){
                min = Number(minutes) + 30;
                date = year+'-'+month+'-'+day+'T'+hours+':'+min;
            }
            else if(Number(minutes) > 30){
                min = (Number(minutes) + 30) % 60;
                hh = ((Number(hours)) + 1);
                h = hh%24;
                if(hh > 23){
                    if(day < 9){
                        day = '0' + (day+1);
                    }
                    else{
                        day = day+1;
                    }
                }
                date = year+'-'+month+'-'+day+'T'+h+':'+min;
            }
            else{ //minutes == 30
                h = (Number(hours) + 1)%24;
                date = year+'-'+month+'-'+day+'T'+h+':00';
                date.replace(minutes, '00');
            }

            $('#dataRiconsegna').attr('min', date);
        }

        function calcolaDataMin(){ //prenotazione almeno mezz'ora prima dell'effettivo noleggio
            console.log(new Date());
            data = new Date().getTime();
            console.log(data);
            min = data + (1000*60*30) + (2*1000*3600); //+ 2 ore per il formato ISO che è indietro di due
            console.log(min);
            dMin = new Date(min).toISOString().slice(0, 16);
            console.log(dMin);
            $('#dataRitiro').attr('min', dMin);
        }
        
    </script>
    <script> //mappa
        
        mapboxgl.accessToken = 'pk.eyJ1IjoiYWxlMjQweCIsImEiOiJja3IwdTRqem0xdjM3MnpxYTJneHVuNXptIn0.mZ7elTikfESfGCOnYRUMsg';
        var map = new mapboxgl.Map({
        container: 'mappa',
        style: 'mapbox://styles/ale240x/ckrbvpq3l0xna18q9nd2ol3l5',
        center: [13.355607408018551, 38.11816843527191], // starting position [lng, lat]
        zoom: 13
        });

        var marker1 = new mapboxgl.Marker().setLngLat([13.352136, 38.106084])
        .setPopup(new mapboxgl.Popup({ offset: [0, -15], closeButton: false })
        .setHTML('<h5>' + 'Parcheggio Basile' + '</h5>' +
                 '<p>' + 'Via Basile, 110' + '</p>'))
        .addTo(map);

        var marker2 = new mapboxgl.Marker().setLngLat([13.348418, 38.110394])
        .setPopup(new mapboxgl.Popup({ offset: [0, -15], closeButton: false })
        .setHTML('<h5>' + 'Parcheggio Calatafimi' + '</h5>' +
                 '<p>' + 'Corso Calatafimi, 9' + '</p>'))
        .addTo(map);

        var marker3 = new mapboxgl.Marker().setLngLat([13.366112, 38.108526])
        .setPopup(new mapboxgl.Popup({ offset: [0, -15], closeButton: false })
        .setHTML('<h5>' + 'Parcheggio Oreto' + '</h5>' +
                 '<p>' + 'Via Oreto, 20' + '</p>'))
        .addTo(map);

        var marker4 = new mapboxgl.Marker().setLngLat([13.364408, 38.114987])
        .setPopup(new mapboxgl.Popup({ offset: [0, -15], closeButton: false })
        .setHTML('<h5>' + 'Parcheggio Roma' + '</h5>' +
                 '<p>' + 'Via Roma, 97' + '</p>'))
        .addTo(map);

        

        /*map.on('click', function(e) { //click sulle features aggiunte come tileset

        var features = map.queryRenderedFeatures(e.point, { layers: ['symbols'] });
        if (!features.length) {
            return;
        }
        var feature = features[0];*/

        var geolocate = new mapboxgl.GeolocateControl({
            positionOptions: {
            enableHighAccuracy: true
            },
            showAccuracyCircle: false
        });
        map.addControl(geolocate);

        // Load custom data to supplement the search results.
        var parkings = {
            'features': [
            {
                'type': 'Feature',
                'place_name': 'Parcheggio Basile, Via Basile 110, Palermo',
                'address': 'Via Basile 110',
                'properties': {
                    'title': 'Parcheggio Basile'
                },
                'geometry': {
                    'coordinates': [13.352136 , 38.106084],
                    'type': 'Point'
                }
            },
            {
                'type': 'Feature',
                'place_name': 'Parcheggio Calatafimi, Corso Calatafimi 9, Palermo',
                'address': 'Corso Calatafimi 9',
                'properties': {
                    'title': 'Parcheggio Calatafimi'
                },
                'geometry': {
                'coordinates': [13.348418, 38.110394],
                'type': 'Point'
                }
            },
            {
                'type': 'Feature',
                'place_name': 'Parcheggio Oreto, Via Oreto 20, Palermo',
                'address': 'Via Oreto 20',
                'properties': {
                    'title': 'Parcheggio Oreto'
                },
                'geometry': {
                'coordinates': [13.366112, 38.108526],
                'type': 'Point'
                }
            },
            {
                'type': 'Feature',
                'place_name': 'Parcheggio Roma, Via Roma 97, Palermo',
                'address': 'Via Roma 97',
                'properties': {
                    'title': 'Parcheggio Roma'
                },
                'geometry': {
                'coordinates': [13.364408, 38.114987],
                'type': 'Point'
                }
            }],
            'type': 'FeatureCollection'
            };
 
        function forwardGeocoder(query) { //per ricercare i parcheggi personalizzati
            var matchingFeatures = [];
            for (var i = 0; i < parkings.features.length; i++) {

                var feature = parkings.features[i];
                if (feature.properties.title.toLowerCase()
                .search(query.toLowerCase()) !== -1 ||
                feature.address.toLowerCase()
                .search(query.toLowerCase()) !== -1) {

                    feature['center'] = feature.geometry.coordinates;
                    matchingFeatures.push(feature);
                }
            }
            return matchingFeatures;
        }

        var p = {
            from: 0,
            to: 0,
            dist: 0
        };

        map.on('load', function() {
            geolocate.trigger();
            var {longitude, latitude} = map.getCenter();
            var options = {
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl,
            localGeocoder: forwardGeocoder,
            localGeocoderOnly: true, //mostra solo i risultati dei parcheggi
            zoom: 14, // Set the zoom level for geocoding results
            placeholder: "Inserisci un indirizzo",
            bbox: [13.306134, 38.092523, 13.376527, 38.151488], // Set a bounding box
            proximity: { longitude: longitude , latitude: latitude },
            trackProximity: true
            }
            var geocoder1 = new MapboxGeocoder(options); //luogo di ritiro
            var geocoder2 = new MapboxGeocoder(options); //luogo di riconsegna
        
            var luogoRitiro = document.getElementById('geocoder1').appendChild(geocoder1.onAdd(map));
            luogoRitiro.id = "div1";
            var luogoRiconsegna = document.getElementById('geocoder2').appendChild(geocoder2.onAdd(map));
            luogoRiconsegna.id = "div2";

            $('#div1 > input').attr('id', 'luogoRitiro').attr('name', 'luogo_ritiro');
            $('#div2 > input').attr('id', 'luogoRiconsegna').attr('name', 'luogo_riconsegna');
            $('#luogoRitiro').prop('required', true);
            $('#luogoRiconsegna').prop('required', true);


            var opt = {
                accessToken: mapboxgl.accessToken,
                mapboxgl: mapboxgl,
                localGeocoder: forwardGeocoder,
                localGeocoderOnly: false, //mostra anche i risultati standard della mappa
                zoom: 14, // Set the zoom level for geocoding results
                placeholder: "Inserisci un indirizzo",
                bbox: [13.306134, 38.092523, 13.376527, 38.151488], // Set a bounding box
                proximity: { longitude: longitude , latitude: latitude },
                trackProximity: true
            }
            var geocoder3 = new MapboxGeocoder(opt); //luogo di partenza della corsa con autista
            var geocoder4 = new MapboxGeocoder(opt); //luogo di arrivo della corsa con autista

            var luogoPartenza = document.getElementById('geocoder3').appendChild(geocoder3.onAdd(map));
            luogoPartenza.id = "div3";
            var luogoArrivo = document.getElementById('geocoder4').appendChild(geocoder4.onAdd(map));
            luogoArrivo.id = "div4";

            $('#div3 > input').attr('id', 'luogoPartenza').attr('name', 'luogo_partenza');
            $('#div4 > input').attr('id', 'luogoArrivo').attr('name', 'luogo_arrivo');

            //calcolo distanza
            geocoder3._inputEl.addEventListener('change', function(e) {
                map.once('moveend', function(e){
                    var coords = map.getCenter();
                    p.from = turf.point([coords.lng, coords.lat]);
                    console.log('from: '+p.from);
                }); 
            });

            geocoder4._inputEl.addEventListener('change', function(e) {
                map.once('moveend', function(e){
                    var coords = map.getCenter();
                    p.to = turf.point([coords.lng, coords.lat]);
                    console.log('to: '+p.to);

                    if(p.from != 0){
                        p.dist = turf.distance(p.from, p.to);
                        console.log('distance: '+p.dist);
                        sessionStorage.setItem('prezzo_stimato', (Math.round(2*p.dist * 100)/100)); //prezzo al km (2€) * distance
                    }
                    else{
                        alert('Inserisci un luogo di partenza!');
                    }
                });                
            });
            //fine calcolo distanza             
        });         

        //var marker = new mapboxgl.Marker();

        /*geocoder1.on('result', function(data) {
            var point = data.result.center;

            marker.setLngLat(point).addTo(map);
            marker.setPopup(new mapboxgl.Popup({ offset: [0, -15], closeButton: false })
            .setHTML('<h5>' + 'prova' + '</h5>' +
                     '<p>' + 'pp' + '</p>'))
            .addTo(map);

        });*/ //non funziona
    </script>

    <script>
        button = document.getElementById('apriMappa');
        mappa = document.getElementById('mappa');
        button.addEventListener('click', () =>{
            if(mappa.style.display == "none"){
                mappa.style.display = "";
                button.innerHTML = "Chiudi la mappa";
            }
            else{
                mappa.style.display = "none";
                button.innerHTML = "Apri la mappa";
            }  
        });

        document.getElementById('aut-si').addEventListener('click', function(e){
            document.getElementById('geocoder1').style.display = "none";
            document.getElementById('geocoder2').style.display = "none";
            document.getElementById('geocoder3').style.display = "block";
            document.getElementById('geocoder4').style.display = "block";

            $('#luogoPartenza').prop('required', true);
            $('#luogoArrivo').prop('required', true);

            $('#luogoRitiro').prop('required', false);
            $('#luogoRiconsegna').prop('required', false);
        });

        document.getElementById('aut-no').addEventListener('click', function(e){
            document.getElementById('geocoder1').style.display = "block";
            document.getElementById('geocoder2').style.display = "block";
            document.getElementById('geocoder3').style.display = "none";
            document.getElementById('geocoder4').style.display = "none";

            $('#luogoRitiro').prop('required', true);
            $('#luogoRiconsegna').prop('required', true);

            $('#luogoPartenza').prop('required', false);
            $('#luogoArrivo').prop('required', false);

        })
    </script>

    <script>
        function salvaAutSi(){
            sessionStorage.setItem('autista', 1);
        }

        function salvaAutNo(){
            sessionStorage.setItem('autista', null);
        }

        function salvaDati(){
            
            if(sessionStorage.prezzo_stimato == undefined){ //se non c'è autista
            sessionStorage.setItem('prezzo_stimato', 'da calcolare');
            }
            if(sessionStorage.autista == 1){
                sessionStorage.setItem('luogo_partenza', $('#luogoPartenza').val());
                sessionStorage.setItem('luogo_arrivo', $('#luogoArrivo').val());
            }
            else if(sessionStorage.autista == 'null' || sessionStorage.autista == undefined){ //per tutti i veicoli tranne le auto
                sessionStorage.setItem('luogo_ritiro', $('#luogoRitiro').val());
                sessionStorage.setItem('luogo_riconsegna', $('#luogoRiconsegna').val());
            }
            sessionStorage.setItem('data_ritiro', $('#dataRitiro').val());
            sessionStorage.setItem('data_riconsegna', $('#dataRiconsegna').val());
        };
    </script>
</body>
</html>