<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
    <style>
      body{
        padding: 0px;
      }
    </style>
    <title>Moovy</title>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <!--Carousel-->
    <div id="caroselloHome" class="container h-100">
      <div class="row justify-content-center align-items-center">
          <div id="caroselloScritta" class="col-xs-12 col-md-6">
              <h1>Prenota da noi!</h1>
              <p>Prezzi bassi, ampia scelta di mezzi.</p>
          </div>

          <div class="col-xs-12 col-md-6">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                           <img class="d-block img-fluid" src="/images/carosello1.jpeg" alt="First slide">
                      </div>
                      <div class="carousel-item">
                          <img class="d-block img-fluid" src="/images/carosello2.jpg" alt="Second slide">
                      </div>
                <div class="carousel-item">
                          <img class="d-block img-fluid" src="/images/carosello3.jpg" alt="Third slide">
                      </div>
                      <div class="carousel-item">
                            <img class="d-block img-fluid" src="/images/carosello4.jpg" alt="Third slide">
                      </div>
                  </div>
                        
              </div>
          </div>
      </div>
    </div>

    <div class="container h-100">
          <div class="justify-content-center align-items-center">
              <h3>Su Moovy potrai:</h3>
              <h6>Noleggiare una moto, un'auto, un monopattino o una bicicletta. 
                <br> Inoltre potrai richiedere uno dei nostri autisti e farti accompagnare direttamente alla tua meta! 
                Scopri tutti i mezzi a disposizione cliccando in alto sulla scritta "Veicoli"
                e accedi per poter prenotare un veicolo.
              </h6>
          </div>
    </div>  
    
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
