<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../../public/images/logo1.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Moovy</title>
 </head>
<body>
   
        <!--Navbar-->
        <%- include('../partials/navbar.ejs') %>
  

    <form action="/recuperaPass/codice/nuovaPass" method="POST">
        <div class="container my-5 text-center" style="max-width: 580px;">

          <legend style="text-align: center; font-size:150%">Nuova Password</legend>
        <div class="container my-5 text-center" style="max-width: 580px;">
            <div class="mb-3">
                <label for="nuovaPassword" class="form-label">Nuova Password</label>
                <input type="password" id="nuovaPassword"  name="nuovaPassword" class="form-control" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%\.,^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"  title="La password deve contenere: Almeno un minuscolo, un maiuscolo, un numero; &#010Un carattere speciale ( '!', '@', '#', '$', '%', '.', ',', '^', '&', '*')&#010deve essere lunga almeno 8 caratteri"aria-describedby="passwordHelpBlock" required>
                <div id="passwordHelpBlock" class="form-text" style="font-size:small;">
                  La tua password deve contenere almeno 8 caratteri, di cui almeno un carattere maiuscolo, un carattere minuscolo, un carattere speciale e un numero.
                </div>
        <div class="mb-4; my-3">
                <input type="text"style="display: none;" id="id_account" name="id_account" value="<%= id_account %>">
                <label for="confermaPassword" class="form-label">Conferma Password</label>
                <input type="password" id="confermaPassword" name="confermaPassword" class="form-control" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%\.,^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Le password devono coincidere" aria-describedby="passwordHelpBlock" required>
                <div id="passwordHelpBlock" class="form-text" style="font-size:small";>
                  La tua password deve contenere almeno 8 caratteri, di cui almeno un carattere maiuscolo e un numero.            
                </div>               
        </div>
        <button type="submit" class="btn btn-success">Conferma</button>
      </form>

<!--footer-->   
<footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      <p>Contattaci: Tel + 01 234 567 88</p>
    © 2021 Copyright AMIL
  </div>
</footer>

  <!--<script>
    const nuovaPassword =  document.getElementsByName("nuovaPassword");
    const confermaPassword =  document.getElementsByName("confermaPassword");
    const paragrafo = document.createElement ("p");
      if (nuovaPassword !=confermaPassword){
          paragrafo.textContent = " Password non coincidenti!"
          div.appendChild (paragrafo);
      }

    </script>-->

<script>
  $(document).ready ( () =>{

      $('#confermaPassword').on('input', () =>{
          password = $('#nuovaPassword').val()
          confirmPassword = $('#confermaPassword').val()
          document.getElementById('confermaPassword').setCustomValidity(password != confirmPassword ? "Le password non coincidono" : "")
      })
      $('#nuovaPassword').on('input', () =>{
          password = $('#nuovaPassword').val()
          confirmPassword = $('#confermaPassword').val()
          document.getElementById('confermaPassword').setCustomValidity(password != confirmPassword ? "Le password non coincidono" : "")
      })

   
  })
  </script>

</body>
</html>
