<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="public/images/logo1.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Moovy</title>
    <style>
    </style>
</head>

<body>
    <img class="img-fluid" src="public/images/banner2.png" width="100%">
    
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(3, 78, 13, 0.795);">
        <a class="navbar-brand" href="#"><img class="img-fluid" src="public/images/Logo2.png" width="50px"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Veicoli</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Area Personale</a>
                </li>  
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accedi</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Login</a>
                        <a class="dropdown-item" href="#">Recupera Password</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Registrati</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--Navbar-->

     <!--Form registrazione-->
    <div class="container mx-auto">
       <br>
        <div class="row">
            <div class="card card-body" style="width: 516px;">
                <br>                
                <h1>Registrazione</h1>
                <br>
              <form action="/utente/registrazionec" method="POST">
                <br>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <label class="form-label" for="nome">Nome *</label>
                      <input name="nome" type="text" id="nome" class="form-control form-control-md" placeholder="Nome" pattern="^([A-Z][a-z]*)( [A-Za-z]+)*" required/>                   
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <label class="form-label" for="cognome">Cognome *</label>
                      <input name="cognome"type="text" id="cognome" class="form-control form-control-md" placeholder="Cognome" pattern="^([A-Z][a-z]*)( [A-Za-z]+)*" required />
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 ">
  
                    <div class="form-outline">
                      <label class="form-label" for="dataNascita">Data di nascita *</label>
                      <input name="dataNascita"type="date" id="dataNascita" class="form-control form-control-md" autocomplete="off" pattern="^(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[0-2])-(19|20)[0-9]{2}$" title="Devi essere maggiorenne per registrarti!"  placeholder="dd-mm-yyyy" class="form-control search-slt shadow-none" required/>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 ">
  
                    <div class="form-outline">
                      <label class="form-label" for="email">Email *</label>
                      <input name="email "type="email" id="email" class="form-control form-control-md" placeholder="Email" required />
                    </div>
  
                  </div>
                </div>             
  
  
                <div class="row">                  
                  <div class="col-md-6 mb-4 ">      
                    <div class="form-outline">
                      <label class="form-label" for="numeroTelefono">Numero di telefono *</label>
                      <input name="numeroTelefono" type="number" id="numeroTelefono" class="form-control form-control-md" placeholder="Numero di telefono" required />                          
                    </div>      
                  </div>

                  <div class="col-md-6 mb-4 ">
                    <label class="form-label" for="patente">Tipo patente</label>   
                    <br>   
                    <button class="btn dropdown-toggle mr-4" type="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Patenti</button>

                     <div class="dropdown-menu">
                     <a class="dropdown-item"> 
                     <div class="custom-control custom-checkbox">
                     <input name="am" type="checkbox" class="custom-control-input" id="am">
                      <label class="custom-control-label" for="am">AM</label>
                     </div>
                    </a>
                  <a class="dropdown-item" href="#">
                  <div class="custom-control custom-checkbox">
                    <input name="a" type="checkbox" class="custom-control-input" id="a" >
                  <label class="custom-control-label"for="a">A</label>
                  </div>
                  </a>
                <a class="dropdown-item" href="#">
                <div class="custom-control custom-checkbox">
                    <input name="a1" type="checkbox" class="custom-control-input" id="A1">
                    <label class="custom-control-label" for="a1">A1</label>
                 </div>
                 </a>
                 <a class="dropdown-item" href="#">
                  <div class="custom-control custom-checkbox">
                 <input name="a2" type="checkbox" class="custom-control-input" id="a2" >
                  <label class="custom-control-label" for="a2">A2</label>
                  </div>
                 </a>

                <a class="dropdown-item" href="#">
                 <div class="custom-control custom-checkbox">
                <input name="b" type="checkbox" class="custom-control-input" id="b" >
                 <label class="custom-control-label" for="B">B</label>
                 </div>
                </a>
                  </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 ">      
                        <div class="form-outline">
                          <label class="form-label" for="dataRilascio">Data di rilascio patente</label>
                          <input name="dataRilascio" type="date" id="dataRilascio" class="form-control form-control-md"  />
                        </div>      
                      </div>                    

                  <div class="col-md-6 mb-4 pb-2">      
                    <div class="form-outline">
                      <label class="form-label" for="codicePatente">Codice patente</label>
                      <input name="codicePatente" type="text" id="codicePatente" class="form-control form-control-md" placeholder="Codice Patente" />                          
                    </div>              
                </div>
                </div>  
  
                <div class="row">
                  <div class="col-md-6 mb-4 ">
  
                    <div class="form-outline">
                      <label class="form-label" for="numeroCarta">Numero di carta</label>
                      <input name="numeroCarta" type="text" id="numeroCarta" class="form-control form-control-md" placeholder="Numero carta" />
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 ">
  
                    <div class="form-outline">
                      <label class="form-label" for="intestatarioCarta">Intestatario carta</label>
                      <input name="intestatarioCarta" type="text" id="intestatarioCarta" class="form-control form-control-md" placeholder="Nome e cognome intestatario" />
                    </div>
  
                  </div>
                </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4 ">
    
                      <div class="form-outline">
                        <label class="form-label" for="scadenzaCarta">Data scadenza</label>
                        <input name="scadenzaCarta" type="text" id="scadenzaCarta" class="form-control form-control-md" placeholder="Data scadenza carta" />
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4 ">
    
                      <div class="form-outline">
                        <label class="form-label" for="cvv">CVV</label>
                        <input name="cvv" type="number" id="cvv" class="form-control form-control-md" placeholder="CVV" />
                      </div>    
                    </div>                 
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 ">
  
                    <div class="form-outline">
                      <label for="psw">Password *</label>
                       <input name="psw" id="psw" type="password" class="form-control" title="Almeno 8 caratteri, una lettera maiuscola e un numero" placeholder="Inserisci password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" size="32" maxlength="40" required/>
                    </div>  
                  </div>
                  <div class="col-md-6 mb-4 ">
  
                    <div class="form-outline">
                      <label for="psw-repeat" class="form-label">Reinserisci password *</label>
                      <input name="psw-repeat" type="password" class="form-control" id="psw-repeat" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%\.,^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Le password devono coincidere"  placeholder="Conferma password" required>

                   </div>    
                  </div>                 
              </div>
                <br>
  
              </form>
            </div>
          </div>
          <br>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-lg  btn-success  align-content-lg-center">Conferma</button>
          </div>
        <br>
    </div>
<!--footer-->   
<footer class="text-center text-lg-start bg-light text-muted">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <p class="">Contattaci: Tel + 01 234 567 88</p>
      © 2021 Copyright AMIL
    </div>
  </footer>
  <script>
     $(document).ready ( () =>{

    $('#psw-repeat').on('input', () =>{
        password = $('#psw').val()
        confirmPassword = $('#psw-repeat').val()
        document.getElementById('psw-repeat').setCustomValidity(password != confirmPassword ? "Le password non coincidono" : "")
    })
    $('#psw').on('input', () =>{
        password = $('#psw').val()
        confirmPassword = $('#psw-repeat').val()
        document.getElementById('psw-repeat').setCustomValidity(password != confirmPassword ? "Le password non coincidono" : "")
    })
  })
    

  </script>
</body>
</html>