<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>
    
  </head>
  <body>
    <%- include('../partials/navbarClie.ejs') %>

    <!--Area personale-->

    <div class="row">
        <div class="container mx-auto card card-body" style="width: 516px;">             
          <h1>Area personale</h1>
          <br>

          <div class="row d-flex justify-content-center">
            <div class="section col-12 col-lg-8" >
              <div class="col-12">
                <div class="row">
                      <div class="col-12">
                        <div class="list-group border border-success">
                          <a style="text-align: center;" href="/utente/cliente/AreaPersonaleCliente/formModifica" class="list-group-item list-group-item-action" aria-current="true">
                            Modifica dati
                          </a>
                          <a style="text-align: center;" href="/utente/cliente/AreaPersonaleCliente/mostrastorico" class="list-group-item list-group-item-action" aria-current="true">
                           Mostra storico prenotazioni
                          </a>
                          <a style="text-align: center;" href="/utente/cliente/AreaPersonaleCliente/ElencoPrenotazioni" class="list-group-item list-group-item-action" aria-current="true">
                           Modifica prenotazione
                          </a>

                          <a style="text-align: center;" href="/utente/cliente/AreaPersonaleCliente/ElencoPrenotazioniE" class="list-group-item list-group-item-action" aria-current="true">
                            Elimina prenotazione
                          </a>
                          <a style="text-align: center;" href="/utente/cliente/AreaPersonaleCliente/veicoliPrenotati" class="list-group-item list-group-item-action" aria-current="true">
                            Ritira veicolo
                          </a>
                          <a style="text-align: center;" href="/utente/cliente/AreaPersonaleCliente/VeicoliRitirati" class="list-group-item list-group-item-action" aria-current="true">
                            Riconsegna veicolo
                          </a>                          
                        </div>
                        <br>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>           
      </div>    
    
      <%- include('../partials/footer.ejs') %>
  </body>
</html>
