<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('../partials/head.ejs') %>
    </style>
    <title>Moovy</title>
 </head>
<body>
    <%- include('../partials/navbarClie.ejs') %>
    <% if(flag) { %>
    
        <div class="container my-5 text-center" style="max-width: 580px;">
            <legend style="text-align:center; font-size:150%;">Rimborso</legend>
            <p>Hai ricevuto il rimborso !</p>
        <div class="container my-5 text-center">
            <a class="btn btn-success" href="/utente/cliente/AreaPersonaleCliente" type="submit">Indietro</a>
        </div>
    <% } else { %>
        <div class="container my-5 text-center" style="max-width: 580px;">
            <legend style="text-align:center; font-size:150%;">Rimborso</legend>
            <p>Non puoi ricevere il rimborso in quanto hai superato l'orario previsto!</p>
        <div class="container my-5 text-center">
            <a class="btn btn-success" href="/utente/cliente/AreaPersonaleCliente" type="submit">Indietro</a>
        </div>
        <div>

    <% }; %> 

<!--footer-->   
<%- include('../partials/footer.ejs') %>
</body>
</html>