<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../../public/images/logo1.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Moovy</title>
 </head>
<body>
    <img class="img-fluid" src="../../public/images/banner2.png" width="100%">
    
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(3, 78, 13, 0.795);">
        <a class="navbar-brand" href="#"><img class="img-fluid" src="../../public/images/logo1.png" width="50px"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Veicoli</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Area Personale</a>
                </li>  
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--Navbar-->

    <form>
        <div class="container my-5 text-center" style="max-width: 580px;">

        <legend style="text-align: center; font-size:150%">Modifica Dati</legend>
        <div class="container my-5 text-left" style="max-width: 580px;">
        <div class="mb-3">
            <label for="firstname" class="form-label">Nome</label>
            <input type="text" class="form-control form-control-md" placeholder="Nome">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Cognome</label>
            <input type="text" class="form-control form-control-md" placeholder="Cognome">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Data di nascita</label>
           <input class="form-control" type="text" value="Disabled readonly input" aria-label="Disabled input example" disabled readonly>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Numero di cellulare</label>
            <input type="tel" id="phoneNumber" class="form-control form-control-md" placeholder="Numero di telefono">
        </div>
        <div class="mb-3 my-4">
            <legend style="text-align:center; font-size:medium;">Metodo di pagamento</legend>
            <label for="CardNumber" class="form-label">Numero della carta</label>
            <input type="text" id="CardNumber" class="form-control form-control-md" placeholder="Numero della carta">
        </div>
        <div class="mb-3">
            <label for="firstname" class="form-label">Nome dell'intestatario</label>
            <input type="text" class="form-control form-control-md" placeholder="Nome dell'intestatario">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Cognome dell'intestatario</label>
            <input type="text" class="form-control form-control-md" placeholder="Cognome dell'instestatario">
        </div>
        <div class="mb-3">
            <label for="cvv" class="form-label">cvv</label>
            <input type="number" id="cvv" class="form-control form-control-md" placeholder="cvv">
        </div>
        <div class="mb-3">
            <div class="form-outline">
                <label class="form-label" for="scadenzaCarta">Scadenza della carta</label>
                <input type="date" id="scadenzaCarta" class="form-control form-control-md">
            </div>     
        </div>    
        <div class="mb-3 my-3">
            <legend style="text-align:center; font-size:medium;">Patente</legend>
            <label for="name" class="form-label">Codice patente</label>
            <input type="name" class="form-control form-control-md" placeholder="Codice patente">
        </div>
        <div class="mb-3">
            <div class="form-outline">
                <label class="form-label" for="dataRilascio">Data di rilascio patente</label>
                <input type="date" id="data" class="form-control form-control-md"  />
            </div> 
        </div>  
        <div class="mb-3">
            <div class="form-outline">
                <label class="form-label" for="dataRilascio">Scadenza patente</label>
                <input type="date" id="data" class="form-control form-control-md"  />
              </div> 
        </div>
        <div class="mb-3;  btn-group text-center" style="width:100%">
            <button class="btn dropdown-toggle  btn-success " style="width:100%" type="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Tipi</button>                       
            <div class="dropdown-menu " >
            <a class="dropdown-item ">
            <div class="custom-control custom-checkbox ">
            <input type="checkbox" class="custom-control-input" id="checkbox1">
            <label class="custom-control-label" for="checkbox1">AM</label>
            </div>
            </a>
            <a class="dropdown-item" href="#">
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkbox2" >
            <label class="custom-control-label"for="checkbox2">A</label>
            </div>
            </a>
            <a class="dropdown-item" href="#">
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkbox3">
            <label class="custom-control-label" for="checkbox3">A1</label>
            </div>
            </a>
            <a class="dropdown-item" href="#">
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkbox3">                
            <label class="custom-control-label" for="checkbox3">A2</label>
            </div>
            </a>
            <a class="dropdown-item" href="#">
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkbox4" >
            <label class="custom-control-label" for="checkbox4">B</label>
            </div>
            </a>
            </div>
        </div>
        <div class="container my-5 text-center">
            <button type="Torna in dietro" class="btn btn-success"style="">Indietro</button>
            <button type="conferma" class="btn btn-success"style="">Conferma</button>
        </div>
      </form>
<!--footer-->   
<footer class="text-center text-lg-start bg-light text-muted">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <p class="">Contattaci: Tel + 01 234 567 88</p>
      © 2021 Copyright AMIL
    </div>
  </footer>
</body>
</html>
