<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('../partials/head.ejs') %>

    <title>Prenotazione</title>
 </head>
<body>
    <%- include('../partials/navbarClie.ejs') %>
    <form action="" method="">
        <div class="container my-5 text-center" style="max-width: 580px;">

            <legend style="text-align: center; font-size:150%">Mancia</legend>
            <div class="form-check my-4">
                <input class="form-check-input" type="checkbox" onclick="$('#mancia').prop('disabled', false);" id="checkMancia">
                <label class="form-check-label" for="checkMancia">
                Aggiungi la mancia per l'autista
                </label>
            </div>
            <div class="container mb-3 my-5 text-center" style="max-width: 580px;"id="demo" style="display:none">
              
                    <label for="mancia" class="form-label">Inserisci Importo</label>
                    <input type="text" id="mancia" name="mancia" class="form-control form-control-md" placeholder="Importo" disabled>
                    <button type="conferma" class="btn btn-success" onclick="calcolaPrezzo()">Conferma</button>
                    <br>
                    <p id="importo"></p>
            </div>
            <button type="submit" class="btn btn-success">Procedi</button>
            </div>

        </div>
      </form>

      <%- include('../partials/footer.ejs') %>

      <script>
          function calcolaPrezzo(){
              var mancia = $('#mancia').val();
              if(mancia > 0){
                  sessionStorage.prezzo_stimato += mancia; //controllare se questo funziona
              }
              $('#importo').html(sessionStorage.prezzo_stimato);
          }
      </script>
</body>
</html>