<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('../partials/head.ejs') %>
    <style>
      body{
        padding: 0px;
      }
    </style>
    <title>Pagamento</title>
</head>
<body>
    <%- include('../partials/navbarClie.ejs') %>
    <div class="container-sm "  style="padding: 5%;">
       <br>      
       <h2>Pagamento effettuato con successo!</h2>  
       <br>
       <%if(stato_autista == "Da confermare"){%>
        <div class="card border-success  card-body text-lg-center" >
          <div class="row">
            <div class="col-6">
              <h4>In attesa di conferma dell'autista...</h4>                                                   
            </div>
          </div>
        </div>
        <% } %>
        <br>
    </div>
     <br>
<!--footer-->   
<%- include('../partials/footer.ejs') %>
</body>
</html>